h2 {
    color :white;
    font-style: normal; font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; font-weight: bold;
}
body {
    background-image: url('../foto/869.jpg')
}
img {
    border: 5px black solid;
}
.ISI {
    color: #fff;
    background-color: #212145;
    background-color: rgba(128, 128, 255, .6);
}
.ISI p {
    background-color: #666666;
    background-color: rgba(102, 102, 102, .5);

}